/* font ke liye */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* global variable */
:root{
    /* opecity ke liye hai */
    --a:0;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
    color: white;
}

/* left */
.left {
    width: 25vw;
    padding: 10px;

}

/* close */
.close {
    display: none;
}


/* .logo {
    display: flex;
} */

.home ul li {
    display: flex;

    width: 14px;
    list-style: none;
    gap: 15px;
    padding-top: 15px;
    font-weight: bold;

}

/* heading hai Your libaray ka  */
.heading {
    display: flex;

    width: 100%;
    gap: 15px;
    list-style: none;

    padding-top: 15px;
    padding: 23px 15px;
    font-weight: bold;

    font-weight: bold;
    align-items: center;
    font-size: 13px;

}

/* img hai libarary ka  */
.heading img {
    width: 20px;

}

/* library */
.library {
    min-height: 80vh;
    position: relative;
}


/* song detaila */
.songlist {
    height: 450px;
    overflow: auto;
    margin-bottom: 41px;

}


.songlist ul {
    padding: 0 10px;

}

.songlist ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    border-radius: 7px;

    margin: 12px 0;
    padding: 1px;

}

/* info class ko sahi kiya gya hai */
.songlist.info {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 13px;
    width: 344px;
}

/* info */
.info {
    word-break: break-all;
}

/* play now  */
.playnow {
    display: flex;
    justify-content: center;
    align-items: center;


}



/* span */
.playnow span {
    font-size: 11px;
    width: 48px;
    padding: 5px;
}








/* footer */
.footer {
    display: flex;
    font-size: 10px;
    gap: 7px;

    position: absolute;
    bottom: 0;
    padding: 11px;

}

.footer a {
    color: gray;
}













/* right */
.right {
    width: 75vw;

    margin: 16px 0px;

    position: relative;

}

/* icons ke liye hai */
.white-icon {
    filter: brightness(0) invert(1);
}

.headre {
    display: flex;
    justify-content: space-between;
    background-color: rgb(40, 38, 38);
    height: 75px;

}

/* headre ke andar jitane bhi direct elements hai usape lagega  */
.headre>* {
    padding: 15px;


}


/* humburger */
.humburger {
    display: none;
    cursor: pointer;

}


/* humburgercontainer */
.humburgercontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;

}


/* buttons pe css laga rahe hai */
.buttons>* {
    margin: 0 12px;

}

/* sign up */
.signupbtn {
    background-color: rgb(40, 38, 38);
    color: rgb(146, 140, 140);

    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;

}

.signupbtn:hover {
    color: white;
    font-size: 17px;

}

/* log in  */
.loginbtn {
    background-color: white;
    border-radius: 21px;
    color: black;
    padding: 10px;
    width: 75px;
    cursor: pointer;
    font-size: 16px;
}

.loginbtn:hover {
    background-color: rgb(236, 232, 232);
    font-weight: bold;
    font-size: 17px;

}


/* spotify playlist */
.spotifyplaylist {
    padding: 8px;

}

/* h1 */
.spotifyplaylist h1 {
    padding: 15px;

}

.cardcontainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 25px;

    /* scroll bar hai jo scroll ka option de raha hai */
    overflow-y: auto;
    max-height: 60vh;

}

.card {
    width: 175px;

    padding: 10px;
    border-radius: 7px;
    background-color: #252525;

    position: relative;
}

/* card ke andar jitane bhi direct elements hai usape lagega  */
.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

/* jaise hi koi hover karega tab ye properties applie hoga  */
.card:hover{
    background-color: rgb(100, 99, 99);
    cursor: pointer;
    --a:1;               

}

/* play */
.play {
    width: 38px;
    height: 38px;
    /* background-color: #1fdf64;
    border-radius: 50%; */

    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 17px;
    top: 110px;

    /* Agar nahi karaya toh apne se karunga  play button hai*/
    opacity: var(--a);
    transition: all .9s ease-out;

}


/* playbar  se related hai*/
.playbar {
    position: fixed;
    bottom: 20px;

    background-color: rgb(121 116 116);
    width: 90%;
    width: 73vw;

    /* padding: 12px; */
    border-radius: 25px;
    min-height: 50px;


}


/* seekbar --->jo batayega ki kitana song chala hai*/
.seekbar {
    height: 4px;
    width: 99%;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    margin: 5px;
    cursor: pointer;


}

/* circle---> jo point karta hai display pe ki kitana song chal chuka hai */
.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: white;
    position: relative;
    bottom: 6px;
    left: 0%;

    transform: left 0.5s;

}


/* playbar */

/* songbuttons */
.songbuttons {
    display: flex;
    justify-content: center;
    gap: 15px;

}


.songbuttons img {
    cursor: pointer;

}


/* abovebar */
.abovebar {
    display: flex;
    justify-content: space-between;
    margin: 6px 0;
}

/* songinfo */
.songinfo {
    color: white;
    padding: 0 15px;
    width: 241px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* time and volume  */
.timevolume {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;

}

/* songtime  */
.songtime {
    color: white;
    padding: 0 15px;
    width: 100px;
}


/* volume */
.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    cursor: pointer;

}

.range input{
    cursor: pointer;

}








/* website ko responsive banane ke liye used kiya ja raha hai media querie ko */
@media(max-width: 1250px) {

    /* left laga raha hun */
    .left {
        position: absolute;
        left: -120%;
        transition: all .3s;
        z-index: 1;
        width: 370px;
        background-color: black;
        padding: 0;


    }


    /* left ka close  */
    .left .close {
        position: absolute;
        right: 30px;
        top: 25px;
        width: 30px;

    }

    /*.songinfo, .songtime*/
    .songinfo {
        width: auto;

    }

    .songtime {
        width: auto;
        width: 27px;
    }

    .close {
        display: block;
    }

    /* jab left applie ho jaye tab right ka width 100vw kar raha hun */
    .right {
        width: 100vw;
        margin: 0;

    }

    /* jab left applie ho jaye tab playbar ka width 95vw kar raha hun */
    .playbar {
        width: calc(100vw - 10px);

    }

    
    .songbuttons :hover{
        cursor: pointer;
    }

    .seekbar {
        width: calc(100vw - 10px);
        cursor: pointer;

    }

    /* humburger */
    .humburger {
        display: block;

    }

    /* card */
    .card {
        width: 45vw;
    }

    /* cardcontainer */
    .cardcontainer {
        margin: 0;
        justify-content: center;
        max-height: 65vh;
    }

   


    /* timevolume  */
    .timevolume {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 15px;
        flex-direction: column;
    }


    /* songvuttons  */
    .songbuttons {
        height: 99px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


}



/* Another media querie */   
@media(max-width: 450px){

    /* card */
    .card{
        width: 100%;

    }


}